<!-- 1b add ng-controller directive to div container -->
<div class="container" ng-controller='usersController'>
  <!-- testing -->


<div class="row">
<div class="col s12 m12 l12">  
   <form class='form'>
        
        <label for="name1">Name:</label> 
        <!--2b ng-model -->
        <input id="name1" class='form-control' type='text' name='name' ng-model='newUser.username'>
      </div>

      <div class="col s12 m12 l12"> 
        <!--2c ng-click -->
        <input class= "btn green" type="submit" value="Enter" ng-click='addUser()'>
      </div>

    </form>

</div>




</div> <!-- ends container 